.preloader {
    width: 100%;
    height: 100%;
    background-image: url(../assets/preload-bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preloader-title {
    background-image: url('https://img.freepik.com/premium-photo/hand-painted-watercolor-green-background_469760-1661.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 900%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title 2s;
}

@keyframes title {
    0% {
        font-size: 500%;
    }
    100% {
        font-size: 2000%;
    }

}